<ion-view view-title="Categories" hide-back-button="true">
  <ion-content>
  <button class="button button-small button-calm button-block" ng-click="modal.show()">Connect with The Somali Kitchen</button>
  <a href="#/app/favorites" ng-if="currentUser === true">
  	<div class="category-title">
  		My Favorites
  	</div>
  	<div class="custom-card">
  		<img class="category-img" ng-src="{{favoritesImg}}">
  	</div>
  </a>
      <a ng-repeat="food in categories | unique: 'Category'" href="#/app/categories/{{food.Category}}" class="animate fadeInDown">
            <div class="category-title">
              {{food.Category}}
            </div>
        <div class="custom-card">
            <img class="category-img" ng-src="{{food.CategoryImg}}">
        </div>
      </a>
 </ion-content>
</ion-view>