  <ion-modal-view class="ion-nifty-modal">
    <div class="ion-modal-content-custom">
      <ion-content class="padding">
      <div class="modal-header text-center">Connect with Somali Kitchen</div>
      <div class="credit-container">
      <a class="ion-ios-world-outline credit-social" 
	   ng-href="http://www.somalikitchen.com/"
	   onclick='window.open(this.href, "_blank", "location=no"); return false;'>
	 </a>
	 <a class="ion-social-facebook credit-social" 
	   ng-href="https://www.facebook.com/TheSomaliKitchen/"
	   onclick='window.open(this.href, "_blank", "location=no"); return false;'>
	 </a>
	 <a class="ion-social-instagram-outline credit-social" 
	   ng-href="https://www.instagram.com/somalikitchen/"
	   onclick='window.open(this.href, "_blank", "location=no"); return false;'>
	 </a>
	 <a class="ion-social-googleplus credit-social" 
	   ng-href="https://plus.google.com/+AbderazzaqNoor/posts"
	   onclick='window.open(this.href, "_blank", "location=no"); return false;'>
	 </a>
      	<!-- <span class="ion-ios-world-outline credit-social"></span> -->
      	<!-- <span class="ion-social-facebook credit-social"></span>
      	<span class="ion-social-instagram-outline credit-social"></span>
      	<span class="ion-social-googleplus credit-social"></span> -->
      </div>
        <button class="button button-full button-positive" ng-click="closeModal()">Close</button>
      </ion-content>
    </div>
  </ion-modal-view>