<ion-view view-title="food">
  <ion-content>
     <ion-item ng-repeat="food in details| limitTo : 1">
		<div class="list card animate tada">
			<div class="item item-avatar">
			    <img src="img/foodicon2.png">
			    <div id="like" class="favorite" ng-class="{'icon ion-ios-heart': liked === true, 'icon ion-ios-heart-outline confirm_selection': liked === false}" ng-click="likeStatus(food.Name)"></div>
			    <h2 class="foodName">{{food.Name}}</h2>
			    <p>Category: {{food.Category}}</p>
			    <div ng-if="food.Credit">
			    	<p>Credit: {{food.Credit}}</p>	
			    	<button class="button button-small button-calm button-block" ng-click="showModal()">Connect with the Somali Kitchen!</button>
			    </div>
			  </div>
			<div class="item item-body">
			  
			    <img class="food-img" ng-src="{{food.image_src}}">
			    <h3>Ingredients:</h3>
			    <p>{{food.Ingredients}}</p>
			    <h3>Instructions:</h3>
			    <p>{{food.Instructions}}</p> 
			</div>
		</div>
		<div style="padding-left:2%;">Suggested Recipes:</div>
		  <ion-scroll direction="x" class="wide-as-needed">
		    <div class="row">
		        <div class="col col-25 text-center" ng-repeat="info in suggestedFoods">
		        <a ng-href="#/app/categories/:foodName/{{info.Name}}">
		        	<img ng-src="{{info.image_src}}" width="100%" height="50px" />
		        	<p>{{info.name}}</p>
		        </a>  
		        </div>
		    </div>
		   </ion-scroll>
  </ion-content>
</ion-view>